{
  "agentDecisionModels": [
    "altruist"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "altruist_t0.3_tag21_imm10_pen0.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": 0.3,
  "diseaseTagStringLength": 21,
  "agentImmuneSystemLength": 10,
  "diseaseSugarMetabolismPenalty": 0,
  "diseaseSpiceMetabolismPenalty": 0
}