{
  "agentDecisionModels": [
    "altruist"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_altruist_t1.0_tag13_imm35_pen0.5.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    1.0,
    1.0
  ],
  "diseaseTagStringLength": [
    13,
    13
  ],
  "agentImmuneSystemLength": 35,
  "diseaseSugarMetabolismPenalty": [
    0.5,
    0.5
  ],
  "diseaseSpiceMetabolismPenalty": [
    0.5,
    0.5
  ]
}