{
  "agentDecisionModels": [
    "altruist"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_altruist_t0.3_tag13_imm10_pen3.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    0.3,
    0.3
  ],
  "diseaseTagStringLength": [
    13,
    13
  ],
  "agentImmuneSystemLength": 10,
  "diseaseSugarMetabolismPenalty": [
    3,
    3
  ],
  "diseaseSpiceMetabolismPenalty": [
    3,
    3
  ]
}