{
  "agentDecisionModels": [
    "altruist"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "altruist_t1.0_tag5_imm10_pen0.25.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    1.0,
    1.0
  ],
  "diseaseTagStringLength": [
    5,
    5
  ],
  "agentImmuneSystemLength": 10,
  "diseaseSugarMetabolismPenalty": [
    0.25,
    0.25
  ],
  "diseaseSpiceMetabolismPenalty": [
    0.25,
    0.25
  ]
}