{
  "agentDecisionModels": [
    "altruist"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_altruist_t0.6_tag13_imm60_pen0.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    0.6,
    0.6
  ],
  "diseaseTagStringLength": [
    13,
    13
  ],
  "agentImmuneSystemLength": 60,
  "diseaseSugarMetabolismPenalty": [
    0,
    0
  ],
  "diseaseSpiceMetabolismPenalty": [
    0,
    0
  ]
}