{
  "agentDecisionModels": [
    "asimov"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "asimov_t1.0_tag13_imm35_pen2.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    1.0,
    1.0
  ],
  "diseaseTagStringLength": [
    13,
    13
  ],
  "agentImmuneSystemLength": 35,
  "diseaseSugarMetabolismPenalty": [
    2,
    2
  ],
  "diseaseSpiceMetabolismPenalty": [
    2,
    2
  ]
}