{
  "agentDecisionModels": [
    "bentham"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_bentham_t0.6_tag21_imm10_pen0.25.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    0.6,
    0.6
  ],
  "diseaseTagStringLength": [
    21,
    21
  ],
  "agentImmuneSystemLength": 10,
  "diseaseSugarMetabolismPenalty": [
    0.25,
    0.25
  ],
  "diseaseSpiceMetabolismPenalty": [
    0.25,
    0.25
  ]
}