{
  "agentDecisionModels": [
    "bentham"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_bentham_t0.3_tag5_imm10_pen0.5.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    0.3,
    0.3
  ],
  "diseaseTagStringLength": [
    5,
    5
  ],
  "agentImmuneSystemLength": 10,
  "diseaseSugarMetabolismPenalty": [
    0.5,
    0.5
  ],
  "diseaseSpiceMetabolismPenalty": [
    0.5,
    0.5
  ]
}