{
  "agentDecisionModels": [
    "egoist"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_egoist_t1.0_tag21_imm35_pen0.1.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    1.0,
    1.0
  ],
  "diseaseTagStringLength": [
    21,
    21
  ],
  "agentImmuneSystemLength": 35,
  "diseaseSugarMetabolismPenalty": [
    0.1,
    0.1
  ],
  "diseaseSpiceMetabolismPenalty": [
    0.1,
    0.1
  ]
}