{
  "agentDecisionModels": [
    "egoist"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "egoist_t1.0_tag13_imm60_pen5.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    1.0,
    1.0
  ],
  "diseaseTagStringLength": [
    13,
    13
  ],
  "agentImmuneSystemLength": 60,
  "diseaseSugarMetabolismPenalty": [
    5,
    5
  ],
  "diseaseSpiceMetabolismPenalty": [
    5,
    5
  ]
}