{
  "agentDecisionModels": [
    "negativeBentham"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_negativeBentham_t0.3_tag21_imm60_pen0.1.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    0.3,
    0.3
  ],
  "diseaseTagStringLength": [
    21,
    21
  ],
  "agentImmuneSystemLength": 60,
  "diseaseSugarMetabolismPenalty": [
    0.1,
    0.1
  ],
  "diseaseSpiceMetabolismPenalty": [
    0.1,
    0.1
  ]
}