{
  "agentDecisionModels": [
    "negativeBentham"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "negativeBentham_t0.3_tag5_imm10_pen2.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": 0.3,
  "diseaseTagStringLength": 5,
  "agentImmuneSystemLength": 10,
  "diseaseSugarMetabolismPenalty": 2,
  "diseaseSpiceMetabolismPenalty": 2
}