{
  "agentDecisionModels": [
    "negativeBentham"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_negativeBentham_t0.6_tag21_imm35_pen1.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    0.6,
    0.6
  ],
  "diseaseTagStringLength": [
    21,
    21
  ],
  "agentImmuneSystemLength": 35,
  "diseaseSugarMetabolismPenalty": [
    1,
    1
  ],
  "diseaseSpiceMetabolismPenalty": [
    1,
    1
  ]
}