{
  "agentDecisionModels": [
    "none"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "none_t1.0_tag21_imm60_pen5.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": 1.0,
  "diseaseTagStringLength": 21,
  "agentImmuneSystemLength": 60,
  "diseaseSugarMetabolismPenalty": 5,
  "diseaseSpiceMetabolismPenalty": 5
}