{
  "agentDecisionModels": [
    "none"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "none_t0.3_tag13_imm35_pen1.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    0.3,
    0.3
  ],
  "diseaseTagStringLength": [
    13,
    13
  ],
  "agentImmuneSystemLength": 35,
  "diseaseSugarMetabolismPenalty": [
    1,
    1
  ],
  "diseaseSpiceMetabolismPenalty": [
    1,
    1
  ]
}