{
  "agentDecisionModels": [
    "none"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "none_t0.3_tag21_imm35_pen0.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": 0.3,
  "diseaseTagStringLength": 21,
  "agentImmuneSystemLength": 35,
  "diseaseSugarMetabolismPenalty": 0,
  "diseaseSpiceMetabolismPenalty": 0
}