{
  "agentDecisionModels": [
    "temperance"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "temperance_t0.6_tag21_imm10_pen5.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": 0.6,
  "diseaseTagStringLength": 21,
  "agentImmuneSystemLength": 10,
  "diseaseSugarMetabolismPenalty": 5,
  "diseaseSpiceMetabolismPenalty": 5
}