{
  "agentDecisionModels": [
    "temperancePECS"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_temperancePECS_t0.3_tag21_imm10_pen0.5.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    0.3,
    0.3
  ],
  "diseaseTagStringLength": [
    21,
    21
  ],
  "agentImmuneSystemLength": 10,
  "diseaseSugarMetabolismPenalty": [
    0.5,
    0.5
  ],
  "diseaseSpiceMetabolismPenalty": [
    0.5,
    0.5
  ]
}