{
  "agentDecisionModels": [
    "temperance"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_temperance_t0.3_tag21_imm35_pen3.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    0.3,
    0.3
  ],
  "diseaseTagStringLength": [
    21,
    21
  ],
  "agentImmuneSystemLength": 35,
  "diseaseSugarMetabolismPenalty": [
    3,
    3
  ],
  "diseaseSpiceMetabolismPenalty": [
    3,
    3
  ]
}