{
  "agentDecisionModels": [
    "temperancePECS"
  ],
  "timesteps": 1000,
  "seed": 12345,
  "headlessMode": true,
  "logfileFormat": "json",
  "logfile": "sim_temperancePECS_t0.6_tag5_imm10_pen2.json",
  "startingDiseases": 25,
  "startingDiseasesPerAgent": [
    10,
    10
  ],
  "diseaseTransmissionChance": [
    0.6,
    0.6
  ],
  "diseaseTagStringLength": [
    5,
    5
  ],
  "agentImmuneSystemLength": 10,
  "diseaseSugarMetabolismPenalty": [
    2,
    2
  ],
  "diseaseSpiceMetabolismPenalty": [
    2,
    2
  ]
}